/* reset
----------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100.01%;
  font-weight: normal;
	font-style: inherit;
	font-family: inherit;
  vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
form label {
  cursor: pointer;
}
input, select, textarea {
	font-family: inherit;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body { 
	background: #f4f4f4;
	color: #000;
	font: 1.2em/1.4em arial, tahoma, verdana, sans-serif;
	overflow: -moz-scrollbars-vertical;
	text-align: center;
}
#main {
	height: 100%;
 	margin: 0 auto;
	text-align: left;
	width: 820px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 20px;
}

/* global 
----------------------------------------------------------*/

img { behavior: url(includes/iepngfix.htc) }


.clear {
  line-height: 0;
  clear: both;
  font-size: 0px;
  height: 0;
}
.only-clear {
  line-height: 0;
  clear: both;
  font-size: 0px;
  height: 0;
  }
.only-clear-left {
  line-height: 0;
  clear: left;
  font-size: 0px;
  height: 0;
  }
.right {
  float: right;
}

.left {
  float: left;
}

.text-left {
  text-align:left;
}
.text-right {
  text-align:right;
}
.text-center { 
  text-align:center;
}
.text-justify  {
  text-align:justify;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.none {
  display: none;
}

.no-border {
  border: 0 !important;
}
.bordered {
	border: 1px solid #e3e3e3;
}

.white {
  color: #fff;
}
.red {
  color: #ec5156;
}
.green {
	color: #5d9d10;
}

.underline {
  text-decoration: underline;
}
.bold {
  font-weight: bold;
}
.normal {
  font-weight: normal;
}

.onleft {
  width: 100%;
  text-align: left;
}
.onleft small {
  display: inline;
  float: right;
}
a {
  color: #1a120f;
  outline: 0;
  text-decoration: none;
}

.left-margin {
  margin-left: -5000px;
}

#loading {
  background: #fff;
  color: #e33939;
  float: right;
  visibility: hidden;
  text-align: right;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 0;
}
#loading  img {
  padding: 0 5px;
  vertical-align: middle;
}

/* fonts */
.arial {
	font-family: arial, tahoma, verdana;
}

/* forms  ----------------------------------------------------------*/
form .inputs {
  font-weight: normal;
  clear: left; /* for .inline */
  padding-bottom: 10px;
} * html form .inputs { padding-bottom: 8px; } /* ie sucks */
form span.text {
  line-height: 23px;
}
form .inline {
  float: left;
	clear: none;
	padding-right: 5px;
}
form .inputs a.language {
  border-right: 1px solid #e3e3e3;
  font-size: 1em;
  padding: 0 8px 0 5px;
  margin: 0 0 0 3px;
}

div.radios {
  padding: 3px 0 0;
}
div.radios input {
  vertical-align: middle;
}

fieldset {
  padding: 11px 0 0 0;
  margin: 10px 0;
} * html fieldset { padding: 0; } /* ie sucks */
  fieldset.clear-to-seperator .clear {
    background: #dfdfdf;
    clear: left;
    height: 1px;
    margin: 0 20px 10px;
    width: 500px;
  }
fieldset.description {
  padding: 30px 0 0 20px;
}
fieldset.gallery {
  padding: 30px 0 0;
}
  
legend {
  border: 0px solid #e3e3e3;
  font: bold 18px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  margin-left: 10px;
  padding: 0 10px;
} * html legend { margin-bottom: 10px; margin-left: 5px; } /* ie sucks */
  legend small {
    font-family: verdana;
    font-weight: normal;
    padding: 0 5px;
    color: #de0000;
  }

.inputs label {
  text-align: left;
  float: left;
  height: 16px;
  padding: 3px 7px 0 0;
	text-indent: 7px;
  width: 127px;
} * html .inputs label{ padding: 5px 3px 0 0; }
.inputs label.radios {
  float: none;
  display: inline;
  margin: 0 9px 0 3px;
}
.inputs label.short {
  width: 76px;
}
.inputs label.long {
  width: 166px;
}
.inputs label.checkbox {
  float: none;
  vertical-align: middle;
  margin: 0 5px 0 4px;
  border: 0px solid #e3e3e3;
  display: inline;
  text-align: left;
} * html .inputs label.checkbox { position: relative; top: -4px; }
.inputs label.onleft {
  font-size: 1em;
  padding: 0 0 5px;
  width: 725px;
  text-align: left;
}
.inputs label.image {
  background: #ebebeb;
  border-bottom: 1px solid #cfcfcf;
  display: block;
  margin: 0 0 20px;
  padding: 3px 10px;
  text-align: left;
  width: 210px;
} 
.inputs label.row {
  float: left;
  height: 16px;
  padding: 3px 7px 0 0;
  text-align: left;
}

input.text {
  border: 1px solid #c8c8c8;
  padding: 4px;
  }
input.short {
  width: 80px;
}
input.medium {
  width: 220px;
}
input.long {
  width: 317px;
}
select {
  border: 1px solid #c8c8c8;
  margin: 0 3px 0 0;
  /*height: 25px;*/
  }
textarea {
  border: 1px solid #c8c8c8;
  font-size: 1em;
	width: 600px;
	}

.form-notice {
  font: normal 10px verdana, arial, helvetica, sans-serif;
  color: #969696;
  display: block;
  margin: 3px 0 3px 144px;
  _margin-left: 146px;
}

.input-note-1 {
  font: normal 10px verdana, arial, helvetica, sans-serif;
  color: #969696;
  display: inline;
  float: left;
  margin: 3px 0 3px 144px;
  _margin-left: 146px;  
  width: 148px;
  width: expression('163px');
}
.input-note-2 {
  font: normal 10px verdana, arial, helvetica, sans-serif;
  color: #969696;
  float: left;
  margin: 3px 0;
}
.input-note-1-s {
  font: normal 10px verdana, arial, helvetica, sans-serif;
  color: #969696;
  display: inline;
  float: left;
  margin: 3px 0 3px 144px;
  _margin-left: 146px;  
  width: 92px;
}
.input-note-2-s {
  font: normal 10px verdana, arial, helvetica, sans-serif;
  color: #969696;
  display: inline;
  margin: 3px 0 3px;
  width: 92px;
  float: left;
}
.form-error {
  display: block;
  margin: 3px 0 3px 134px;
  _margin-left: 136px;
  padding: 0 8px 0 0;
  border: 0px solid #ec5156;
  font-size: 12px;
  color: #de0000;
}
.form-error b {
  padding: 0 3px 0 0;
}

.form-errors-notice {
  display: block;
  color: #ea0000;
  padding: 10px 40px;
}

a.button img {
  vertical-align: middle;
  margin: 0 3px;
}

/* Content   */
#logo {
	height: 94px;
	margin: 15px 0 0;
}
#top-menu {
	color: #e3e3e3;
	float: right;	
	margin: -20px 0 0;
	width: 500px;
}
	#top-menu li {
		border-right: 1px solid #cccccc;
	  display: inline;
	  padding: 5px 0;
	}
		#top-menu li a {
			font: normal 1.166em arial;
			line-height: 21px;
		  padding: 0 25px 0 22px;
		}
		#top-menu li a:hover {
			color: #e22769;
		}
		#top-menu li.contact {
			border: 0;
			background: url(../images/chat.png) no-repeat 15px 0;
			padding: 0 0 0 15px;
		}
.search-wrap {
	background: url(../images/bg_search.png) no-repeat 0 0;
	font-size: 1.166em;
	height: 227px;
	margin: 7px 0 0;
	padding: 25px 55px 0 43px;
}
	.search-wrap h2 {
		font-size: 1.333em;
		margin: 23px 0 0;
	}
.content {
	padding: 0 60px 0 35px;
}
.content-inner {
	margin: 30px 0 0 0;
	padding: 0 60px 0 35px;
}
h1.main-header {
	border-bottom: 1px solid #d4d4d4;
	font-size: 1.5em;
	padding: 10px 20px;
}
	h1.main-header span {
	  color: #457e00;
	}
	h1.main-header small {
		background: url(../images/dot.png) no-repeat 13px 2px;
		font-size: 0.667em;
		padding: 0 0 0 36px;
	}
.template-content {
	padding: 20px;
}
.template-thumb {
	float: left;
	margin: 10px 11px 0 0;
	width: 152px;
	height: 230px;
}
	.template-thumb a {
	  display: block;
	}
.template-link {
	border-bottom: 1px solid #000;
	display: block;
	font-weight: bold;
	margin: 0 6px 0 0;
	padding: 0 0 4px;
}
#search-bar {
	color: #919191;
}
#search-bar input {
	margin: 0 3px;
}

.a4 {
  border: 1px solid #e3e3e3;
  background: #fff;

  width: 820px;
  margin: 25px 0;
}

#footer {
	clear: both;
	color: #e3e3e3;
	list-style: none;
	margin: 20px 0;
	text-align: center;
}
#footer li {
  display: inline;
  padding: 0 0 10px;
  line-height: 30px;
}
#footer li a {
	color: #737373;
  padding: 0 8px 0 5px;
}